@inherits SubSystemItemBase
@if (PageDataModel == null)
{
    <p><em>Loading...</em></p> 
}
else
{
    <div class="d-flex">
        <div class="btn-group">
            <input type="text" class="form-control"
                   value="@title" @onchange="@(e=>Search(e))"
                   placeholder="Filter by name" />
            <button type="button" class="btn btn-primary"
                    @onclick="Filter">
                Search
            </button>
        </div>
    </div>
    <GenericList Elements="PageDataModel.Data">
        <NullTemplate>
            <p><em>Loading...</em></p>
        </NullTemplate>
        <WithElementsTemplate>
            <div class="d-flex flex-wrap">
                <div class="flex-column w-75 pr-3">
                    <label>Title</label>
                </div>
                <div class="w-25 d-flex justify-content-end">
                    <label>Action</label>
                </div>
            </div>
            @foreach (var item in PageDataModel.Data)
                {
                <SubItemDetailLine @key="item" Item="item"></SubItemDetailLine>
                }
            <Pagination TotaPagesQuantity="PageDataModel.PageQuantity" CurrentPage="currentPage" Radius="3"
                        SelectedPage="SelectedPage"></Pagination>

            
        </WithElementsTemplate>
    </GenericList>
    }
